#Thu Mar 14 17:57:04 CST 2019
DI_Trigger=false
Password=p55668624
Region=NA
LocalSave=Y
Table_Name=Rfid_Bundle
ReaderID_FieldName=ReaderId
RFPower=27.5
DB_Name=scannel
DO_Trigger=false
DBSave=N
DB_IP=192.168.100.44\:1444
ReaderID=Testing
DB_Type=MS_SQL_SERVER
Time_FieldName=TransDate
Session=S1
Antenna=1
User_Id=tim_chang
DI_4=false
DI_3=false
DI_2=false
DI_1=false
Target=A
EPC_FieldName=EpcId
